﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="~/Content/stylesheet.css" rel="stylesheet" />
</head>

<body>
    <div class="mainDiv">
        <div class="canvasDiv">
            <h4>Results</h4>
            <div class="menuBar">
                <input type="button" id="btnOutput" value="OUTPUT" onclick="getJSON()">
                <input type="button" id="btnStore" value="STORE" onclick="store()">
                <input type="button" id="btnRestore" value="RESTORE" onclick="restore()">
                <p id="result"></p>
            </div>
            <div id="cy"></div>
        </div>
        <div class="sideDiv">
            <h4>Details</h4>
            <div>
                <table id="controlTable">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th><input type="button" id="btnAdd" value="+" onclick="addRow()"></th>
                            <th>Name</th>
                            <th>Color</th>
                        </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                </table>
                <input type="button" id="btnDraw" value="Draw Compelete Graph" onclick="drawFromTable(elements)">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/Scripts/cytoscape.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script>
        
        function store() {
            prepareForDB();
            var obj = { els: elements, stls: styles, cols: colors };
            var jsonObj = JSON.stringify(obj);
            $.post('@Url.Action("Store")', { jsonObj: jsonObj },
                function () {
                    $('#result').html('"Successfully Saved.');
                }
            );
        }

        function restore() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (xhttp.readyState == 4 && xhttp.status == 200) {
                    if (xhttp.responseText.trim() == "")
                        alert("Failed to get data from db.");
                    else {
                        var jsGraphObj = JSON.parse(xhttp.responseText);
                        elements = jsGraphObj.els;
                        styles = jsGraphObj.stls;
                        drawFromDb(elements);
                        fillTheTable(jsGraphObj.cols);
                        //fillTable(jsGraphObj.ndCount);
                    }
                }
            };
            xhttp.open("GET", '@Url.Action("Restore")', true);
            xhttp.send();
        }
    </script>
</body>

</html>
