* {
    box-sizing: border-box;
}

body {
	background-color: black;
}

#r2{
	background-color: red;
}
#result {
    margin: 0;
    padding: 0;
    color: green;
}
.mainDiv {
    background-color: lightgray;
    width: 100%;
    padding: 2%;
    height: 700px;
}
	.mainDiv h4 {
		margin: 0 auto;
	}

.canvasDiv {
	background-color: gray;
	float: left;
	width: 66%;
	height: 100%;
	padding: 1%;
}
	.canvasDiv div {
		background-color: darkgray;
		border: 1px solid black;
		width: 100%;
	}
.colorPicker {
	width: 100%;
}
#cy {
	height: 87%;
}
.menuBar {
	height: 10%;
	padding: 1%;
}

.sideDiv {
	background-color: gray;
	float: right;
	width: 32%;
	height: 100%;
	padding: 1%;
}
	.sideDiv div {
		background-color: darkgray;
		border: 1px solid black;
		height: 97%;
		width: 100%;
		position: relative;
	}

table {
    width: 100%;
    background-color: lightgray;
}
    th, td {
        text-align: center;
        padding: 0;
        width: 25%;
    }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
table input[type="button"], #btnDraw {
	width: 100%;
    font-weight: bolder;
    font-size: 1.4em;
    padding: 0;
    margin: 0;
}
#btnAdd {
	color: green;
}
#btnDelete {
	color: red;
}

#btnDraw {
	background-color: lightgreen;
    position: absolute;
    bottom: 0;

}

.menuBar input[type="button"] {
	background-color: lightblue;
	width: 15%;
    font-weight: bolder;
    font-size: 1em;
}
